{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<nav class="bg-red-700 h-16">
  <div class="h-30 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="block h-16 w-auto lg:hidden" src="https://www.zupimages.net/up/23/08/nfxv.png" alt="Your Company" href="https://127.0.0.1:8000/">
          <img class="hidden h-16 w-auto lg:block" src="https://www.zupimages.net/up/23/08/nfxv.png" alt="Your Company" href="https://127.0.0.1:8000/">
        </div>
  </div>
</nav>
    {% if app.user %}
        <div class="mb-3">
            Vous ête déjà connecté {{ app.user.userIdentifier }}, <a href="{{ path('homepage') }}">Retour à l'accueil</a>
        </div>
    {% else %}
<div class="h-screen w-screen">
    <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
        <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 500px">
            <div class="flex flex-col w-full md:w-1/2 p-4">
                <div class="flex flex-col flex-1 justify-center mb-8">
                    <h1 class="text-4xl text-center font-thin">Créer un compte !</h1>
                    <div class="w-full mt-4">
						{{ form_start(registrationForm) }}
							<div class="flex flex-col mt-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="email">
									Email
								</label>
								{{ form_row(registrationForm.email) }}
							</div>
							<div class="flex flex-col mt-4">
								<div class="mb-4">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="password">

                  {{ form_row(registrationForm.plainPassword, {
                  label: 'Mot de passe'
                  }) }}

								</div>
							</div>
                  {{ form_row(registrationForm.agreeTerms, {
                  label: 'Condition utilisateur'
                  }) }}
            <div class="flex flex-col mt-8">
            <button type="submit" class="bg-red-700 hover:bg-red-500 text-white text-sm font-semibold py-2 px-4 rounded" >S'inscrire</button>
            </div>
						{{ form_end(registrationForm) }}
                            <div class="text-center mt-4">
                            <a class="no-underline hover:underline text-blue-dark text-xs" href="https://127.0.0.1:8000/login">
                                Déjà inscrit? Connectez-vous.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden md:block md:w-1/2 rounded-r-lg" style="background: url('https://img-4.linternaute.com/TE60YVVtnqg4Js8yinVISX0Vpfw=/fit-in/620x/smart/12f13ee85ddc47c1bdae1dd1659d7692/ccmcms-linternaute/41973182.jpg'); background-size: cover; background-position: center center;"></div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
